.hero-section {
    background: url('imgbge2.avif');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8%;
    color: #0a0707;
    text-align: center;
    position: relative;
  }
  
  .hero-overlay {
    padding: 40px;
    border-radius: 12px;
    max-width: 900px;
    backdrop-filter: blur(.1px);
  }
  
  .animated-heading {
    
    font-size: 3.5rem;
    font-weight: 800;
    color: #9e0909;
    animation: fadeInDown 1s ease-in-out;
  }
  
  .highlight {
    color: #1d1a1a;
    background-color: #9e0909;
    padding: 0 5px;
    border-radius: 4px;
  }
  
  .hero-overlay p {
    font-size: 1.2rem;
    color: #080707;
    margin: 20px 0;
  }
  
  .cta-button {
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: 600;
    background-color:#9e0909;
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: #e02626;
    transform: scale(1.05);
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  